
.brief_pages {
    width: 90%;
    height: 35vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin:auto;
    overflow-x: auto;
    flex-wrap: nowrap;
}
.card-img-top {
    height: 40%;
    object-fit: cover;
}

.cloudBox {
    border-radius: 15px;
    padding: 10px;
    margin-left: 25px;
    margin-top: 100px;
    background-color: white;
    width: 250px;
    height: 250px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

.squareCloudBox{
    position: absolute;
    left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    background-color: white;
    width: 450px;
    height: 250px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}


.content_box{
    width: 100%;
    display:flex;
    justify-content: center;
}

.content_box h3{
    font-size: 1.1em;
    opacity: 50%;
}
