:root {
    --main-text-colour-dark: #001532;
    --main-bg:#d7d7d7;
    --main-bg-dark:#CFCBCA;
}

body {
    background-image:
            linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
            ),
            url("/resources/images/background_main_index.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
}
* {
    color: #eaeaea;
    font-size: 2vh;
}

.extended-menu {
    position: fixed;
    width: 100%;
    height: 5vh;
    margin-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: space-between;
}

.extended-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.left-menu {
    width: 20%;
}


.extended-menu li{
    list-style-type: none;
    color: white;
    transition: all ease-in-out 0.1s;
}
.active {
    font-weight: bold;
    font-size: 1.05em;
}
.extended-menu a:is(:hover,a) {
    color: inherit;
    text-decoration: none;
}
.extended-menu li:hover {
    transform: translateY(-0.5vh);
}



/*content*/


.title, .join_business {
    height: 30vh;
    width: 40%;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.title img {
    width: 50px;
    height: 50px;
}