h2{
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
    padding: 15px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

th, td {
    padding-right: 5px;
}

input {
    margin-right: 5px;
    width: 100%;
    background-color: #D3D3D3;
    padding: 5px 5px 5px 10px;
    border: none;
}

input:focus {
    background-color: #D3D3D3;
    border: none;
    outline: none;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.name {
    display: grid;
    grid-template-columns: auto auto;
}

.form {
    width: 500px;
}
